$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$warning-color: #ffc107;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #343a40;

$title: red,green,orange,purple;


$theme:'dark';
// Conjunto de variables para la versión light
$bg-color: $light-color;
$text-color: #333;
$link-color: $primary-color;

// Conjunto de variables para la versión dark
@if $theme == 'dark' {
  $bg-color: $dark-color;
  $text-color: #fff;
  $link-color: #1abc9c;
}

